@import "tailwindcss";

@font-face {
  src: url(../public/fonts/iranSansX-light.woff2);
  font-family: "iransans";
  font-weight: 500;
}

@font-face {
  src: url(../public/fonts/iranSansX-bold.woff2);
  font-family: "iransans";
  font-weight: 800;
}

* {
  font-family: "iransans";
}

body {
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
