@import "tailwindcss";

@font-face{
  src: url(../public/fonts/iranSansX-light.woff2);
  font-family: "iransans";
  font-weight: 500;
}

@font-face{
  src: url(../public/fonts/iranSansX-bold.woff2);
  font-family: "iransans";
  font-weight: 800;
}

*{
  font-family: "iransans"
}


body {
  user-select: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
